@charset "utf-8";
.container {
	width: 1000px;
	height: 3000px;
	margin-left: auto;
	margin-right: auto;
}
.container header h1 {
	color: #97098D;
	text-align: center;
}
nav {
	text-align: center;
}
nav h3 a:link {
	color: #12CB8E;
}
nav h3 a:hover {
	color: #AA2A2C;
}

nav h3 a:visited {
	color: #000000;
}
nav h3 a:active {
	color: #ED1519;
	text-decoration: line-through;
}
.hero.img {
	color: #BD9595;
	height: 250px;
	background-image: url(74aabf736bc7ac988c445ba89cc4d719.jpg);
	background-position: center center;
	background-size: cover;
	background-clip: padding-box;
	border-collapse: separate;
	border-radius: 22px;
}
article h3 {
	background-color: #97E9C7;
}
